/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.mp-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100%;
}
.mp-left{
    justify-content: flex-start;
}
.mp-right{
    justify-content: flex-end;
}
.mp-inline{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.mp-dot {
    font-size: 72px; 
    opacity: 0; 
    transition: opacity 0.5s;
    display: inline-block;
  }
  .container-card {
    display: flex;
    justify-content: space-between;
    margin:10px;
  }
  
  .component-card {
    flex: 1;
    border: 2px solid #ccc; 
    padding: 10px; 
    transition: border-color 0.3s; 
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .component-card button {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    cursor: pointer;
    outline: none; 
  }
  
  .component-card:focus-within {
    border-color: #007bff; 
  }
  .button-card {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
  }

  .chat-container {
    width: 100%;
    height: 90%;
    border-radius: 10px;
    margin: 20px auto;
    padding: 10px;
  }
  
  .chat-messages {
    height: 95%;
    overflow-y: scroll;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
  }
  
  .chat-input {
    display: flex;
    height: 5%;
    justify-content: space-between;
  }
  
  .message-input {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
  }

  .message-received {
    background-color: #555555;
  }

  .autocomplete {
    position: relative;
    width: 100%;
  }

  .pos-suggestion {
    white-space: normal;
  }
  .max-width {
    display: flex;
    flex-grow: 1;
    max-width: 100%;
  }
  .max-width div div:first-child{
    max-width: 80%;
    overflow: hidden;
  }

@keyframes confetti {
  0% {transform: translateY(0) rotate(0deg);}
  100% {transform: translateY(100px) rotate(360deg);}
}

/* credits to heliostatic from https://github.com/heliostatic/completed-task-display */
.hide-finished-tasks .markdown-preview-view ul > li.is-checked[data-task="x"],
.hide-finished-tasks .markdown-preview-view ul > li.is-checked[data-task="-"],
.hide-finished-tasks .markdown-preview-view ul > li.is-checked[data-task-status-type="DONE"],
.hide-finished-tasks .markdown-preview-view ul > li.is-checked[data-task-status-type="CANCELLED"],
.hide-finished-tasks .markdown-source-view .HyperMD-task-line[data-task="x"],
.hide-finished-tasks .markdown-source-view .HyperMD-task-line[data-task="-"],
.hide-finished-tasks .markdown-source-view .HyperMD-task-line[data-task-status-type="DONE"],
.hide-finished-tasks .markdown-source-view .HyperMD-task-line[data-task-status-type="CANCELLED"] {
  display: none;
}

.markdown-preview-view [data-task="-"] input,
.markdown-preview-view [data-task-status-type="CANCELLED"] input,
.markdown-source-view input[data-task="-"],
.markdown-source-view input[data-task-status-type="CANCELLED"] {
  background-color: var(--color-red);
  border-color: var(--color-red);
}

.markdown-preview-view [data-task="-"] input:hover,
.markdown-preview-view [data-task-status-type="CANCELLED"] input:hover,
.markdown-source-view input[data-task="-"]:hover,
.markdown-source-view input[data-task-status-type="CANCELLED"]:hover {
  background-color: var(--color-red);
  border-color: var(--color-red);
}