
// clean-embeds
/* Only apply to embeds when the note has the cssclass 'clean-embeds' */
.markdown-preview-view.clean-embeds .markdown-embed h1,
.markdown-preview-view.clean-embeds .markdown-embed h2 {
  display: none;
}

/* Optional: Also apply in Live Preview */
.markdown-source-view.is-live-preview.clean-embeds .markdown-embed h1,
.markdown-source-view.is-live-preview.clean-embeds .markdown-embed h2 {
  display: none;
}

// no-inline-title
.markdown-preview-view.no-inline-title .inline-title {
    display: none;
  }
  
.markdown-source-view.is-live-preview.no-inline-title .inline-title {
    display: none;
  }
  

// hide-tag lines
/* Live Preview only – hide lines that include the #Hide tag */
.markdown-source-view.is-live-preview.hidden-tag-lines .cm-line:has(.cm-tag-Hidden) {
    display: none !important;
  }
  

/* Reading View only – Hide headings that directly include the tag #Hide */

.markdown-preview-view.hidden-tag-lines h6:has(a.tag[href="#Hidden"]) {
  display: none !important;
}

/* Reading View only – hide list items with the #Hide tag */
.markdown-preview-view.hidden-tag-lines li:has(a.tag[href="#Hidden"]) {
  display: none !important;
}
